<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DSF UI</title>
    <link rel="stylesheet" type="text/css" href="/build/{{component.id}}/css.css?cacheBust={{cacheBust}}">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300' rel='stylesheet' type='text/css'>
</head>
<body>

    {{{html}}}
    <script src="/socket.io/socket.io.js"></script>
    <script src="/build/{{component.id}}/js.js?cacheBust={{cacheBust}}"></script>
</body>
</html>
