<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{component.id}}</title>
    <link rel="stylesheet" type="text/css" href="/build/{{component.id}}/css.css?cacheBust={{cacheBust}}">
    {{#if component.resource.js}}
    <script src="/build/{{component.id}}/js.js?cacheBust={{cacheBust}}"></script>
    {{/if}}
</head>
<body>{{#if html}}

{{{html}}}
{{else}}
<strong>{{component.id}}</strong>: no HTML
{{/if}}

</body>
</html>
