<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{component.id}}</title>
	<link rel="stylesheet" type="text/css" href="{{component.standaloneCssPublicPath}}?cacheBust={{cacheBust}}">
</head>
<body>{{#if html}}

{{{html}}}
{{else}}
<strong>{{component.id}}</strong>: no HTML
{{/if}}

</body>
</html>